<%- include('include/_header')%>
<form method="POST" action="/api/users/<%=data.id %>" novalidate>
    
    
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">name address</label>
    <input type="text" name="name" value="<%=data.name %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
 
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">address</label>
    <input type="text" name="email" value="<%=data.email %>" class="form-control" id="exampleInputPassword1">
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/" type="submit" class="btn btn-primary">back</a>
   
</form>
<%- include('include/_footer')%>
